In [14]:
import pandas as pd
import os, platform

#pd.read_csv("macro_data.csv")

def get_path(end_item, dir_in_740):
    
    system = platform.system()
    # os.getlogin()
    # Username will be different for different Computers #
    if system == "Darwin":
        item_list = [os.path.expanduser('~'), 'Desktop', '740', dir_in_740, end_item]
        path = "/"
    elif system == "Windows":
        item_list = [os.environ['USERPROFILE'], 'Desktop', '740', dir_in_740, end_item]
        path = "\\"
    for item in item_list:
        path = os.path.join(path, item)
    return path

desktop = os.path.join(os.path.join(os.path.join(os.path.expanduser('~')), 'Desktop'), '740')

pd.read_csv(get_path("macro_data.csv", 'Reference_Data'), index_col="Date")

,nominal_yield,inflation,cpi,real_yield,yield_curve,economic_uncertainty,market_price,market_volume,market_volatility
Date,,,,,,,,,
2003-02-14,3.95,1.92,0.4422,2.03,2.33,147.79,1310.1700,1.315410e+09,0.2559
2003-02-18,3.94,1.89,0.4422,2.05,2.28,137.36,1346.5400,1.303930e+09,0.2695
2003-02-19,3.88,1.89,0.4422,1.99,2.27,91.16,1334.3199,1.179700e+09,0.2594
2003-02-20,3.85,1.94,0.4422,1.91,2.26,173.91,1331.2300,1.320410e+09,0.2579
2003-02-21,3.90,1.97,0.4422,1.93,2.27,171.85,1349.0200,1.342440e+09,0.2552
...,...,...,...,...,...,...,...,...,...
2022-06-14,3.49,2.60,0.5583,0.89,0.04,112.83,10828.3496,4.802090e+09,0.4121
2022-06-15,3.33,2.70,0.5583,0.63,0.13,138.85,11099.1504,5.346110e+09,0.4205
2022-06-16,3.28,2.62,0.5583,0.66,0.14,192.20,10646.0996,5.667810e+09,0.4202
2022-06-17,3.25,2.58,0.5583,0.67,0.08,106.47,10798.3496,7.423600e+09,0.4022
2022-06-21,3.31,2.61,0.5583,0.70,0.10,245.51,11069.2998,5.201450e+09,0.4097